{% extends 'layout/base.html' %}

{% block content %}
<div class="d-flex container">
        <div class="w-50 p-2 d-flex align-items-center justify-content-start">
            <div>
                <span class="d-inline-block text-uppercase text-primary h1 font-weight-bold">Hospital</span>
                    <p class="mb-1">We want to hear from you on how to improve our service and provide the best
                        care possible. Click here to submit your comments to us.</p>
                <span class="h4">Welcome to administrator pages</span>
            </div>
        </div>
<div class="w-50 p-3">
            <img class="" src="{{ url_for('static', filename='doctors-animate.svg') }}" alt="doctors">
        </div>
    </div>
{% endblock %}